h1 {
  color: #333;
}

h2,
h3 {
  font-style: italic;
  color: #999;
}

hr {
  border: none;
    height: 10px;
    color: #333;
    background-color: #333; 
}

body{
  background-color: #F2F1ED;
}
.logo {
  font-family: 'Petit Formal Script', cursive;
  font-size: 100px;
  color: #333;
}
