h1 {
    color: #333;
}

h2,
h3 {
    font-style: italic;
    color: #999;
}

hr {
    border: none;
    height: 10px;
    color: #333;
    background-color: #333;
}

body {
    background-color: #F2F1ED;
}

.logo {
    font-family: "Petit Formal Script", cursive;
    font-size: 100px;
    color: #333;
}

.footer {
    font-size: 15px;
    font-weight: bold;
}

.fa-cog {
    color: #4060A5;
}

.tw-cog {
    color: #00ABE3;
}

.gh-cog {
    color: black;
}

.mail-cog {
    color: red;
}

#mailform,
#project1,
#project2,
#project3,
#project4 {
    background-color: rgb(0, 0, 0);
    /* Fallback color */

    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.emailform input,
textarea,
button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.cursor {
    cursor: pointer;
}

.modal-content {
    background-color: #F2F1ED;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
